//
//  Production.xcconfig
//  Src
//
//  Created by Mohamed Hasseb on 27/01/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Server URL
BASE_URL = https:/$()/api.llc-warehouse.xware.solutions

// App Settings
APP_NAME = ThirdwayTask
APP_BUNDLE_ID = com.haseeb.Thirdway
